<section class="product-details" *ngIf="product">
    <div class="row">

        <img class="product-image" [src]="product.imageUrl" />

    </div>
    <div class="col">
        <div class="details">
            <h2 class="product-brand">{{product.productName}}</h2>
            <p class="product-short-des">{{product.description}}</p>
            <span class="product-price">Rs. {{product.price}}</span>
            <span class="product-actual-price">Rs. {{product.price*1.5}}</span>

            <!-- <p class="product-sub-heading">select size</p>

            <input type="radio" name="size" value="s" checked hidden id="s-size">
            <label for="s-size" class="size-radio-btn check">s</label>
            <input type="radio" name="size" value="m" hidden id="m-size">
            <label for="m-size" class="size-radio-btn">m</label>
            <input type="radio" name="size" value="l" hidden id="l-size">
            <label for="l-size" class="size-radio-btn">l</label>
            <input type="radio" name="size" value="xl" hidden id="xl-size">
            <label for="xl-size" class="size-radio-btn">xl</label>
            <input type="radio" name="size" value="xxl" hidden id="xxl-size"> 
            <label for="xxl-size" class="size-radio-btn">xxl</label>-->
            <div class="btn-align">
                <button class="btn cart-btn" (click)="onAddToCart(product.productId)">add to cart</button>
            </div>

        </div>
    </div>



</section>