<!-- <app-admin-navbar></app-admin-navbar> -->
<div class="row">
    <div [ngClass]="isSidePanelVisible ? 'col-8' : 'col-12'">
        <div class="card">
            <div class="card-header bg-success ">
                <div class="row">
                    <div class="col-6">
                        <h3 class="text-center">Category</h3>
                    </div>
                    <div class="col-6 text-end">
                        <button class="btn btn-sm btn-success" (click)="openSidePanel()">New</button>
                    </div>
                </div>
            </div>
        </div>
    <table class="table table-borderless text-center">
        <thead>
            <tr>
                
                <td>Category Name</td>
                <td>Action</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cat of categoryList">
                
                <td>{{cat.categoryName}}</td>
                <td>
                    <button class="btn btn-primary" (click)="onEdit(cat)">Edit</button>
                    <button class="btn btn-danger mx-2" (click)="onDelete(cat.categoryId)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
    </div>
    <div class="col-4" *ngIf="isSidePanelVisible">
        <div class="card">
            <div class="card-header bg-primary">
                <div class="row">
                    <div class="col-6">
                        New Category
                    </div>
                    <div class="col-6 text-end">
                        <button class="btn btn-sm btn-success" (click)="closeSidePanel()">Close</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <label for="">Category Name</label>
                        <input type="text" [(ngModel)]="categoryObj.categoryName" class="form-control">
                    </div>
                    
                </div>
                
                <div class="row pt-2">
                    
                    <div class="col-6">
                        <div class="btn btn-success" *ngIf="categoryObj.categoryId ==0" (click)="onSubmit()">Create Category</div>
                        <div class="btn btn-success" *ngIf="categoryObj.categoryId !==0" (click)="onUpdate()">Update Category</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
